{% extends "base.html"%}
{%block body%}
    <h1>You can add Password now</h1>
    <div class="container">
        <form action ="{{url_for('add_password')}}" method="post">
            <input type="text" placeholder="site_name" name="site_name" id="site_name" class="inputs"/>
            <input type="password" placeholder="password" name="password" id="password" class="inputs"/>
            <input type="submit"  value="valide" class="btn btn_valide"/>
        </form>
        {% if error %}
            <p  id="error">{{ error }} ! ! !</p>
        {% endif %}
    </div>
{%endblock%}