{% extends "base.html"%}
{%block body%}
<div class="passwordContainer">
    {% if passwords | length  < 1 %}
        <h1>There are no passwords saved </h1>
    {%else%}
        <h3>Your Passwords</h3>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Site_name</th>
                <th>Password</th>
                <th>Optional action</th>
                <th>Password Strength</th>
                <th>Feedback</th>
            </tr>
            {%for p in passwords %}
                <tr>
                    <td>{{p.id}}</td>
                    <td>{{p.site_name}}</td>
                    <td class="pass" data-id="{{p.id}}">{{p.password}}</td>    
                    <td>
                        <form action="{{url_for('remove_password',id=p.id)}}" method="POST">
                            <button type="submit" class="btn btn_delete">Delete</button>
                        </form>
                    </td>
                    <td>{{p.Strength}}</td>
                    <td>{{p.Feedback}}</td>
                </tr>
            {%endfor%}
        </table>
    {% endif %}
    <a href="{{url_for('add_password')}}" ><button class="btn btn_add">Add Password</button></a>
    <form action="{{url_for('logout')}}" method="POST">
        <button type="submit" class="btn btn_logout"> LogOut</button>
    </form>
</div>
    <script>
        document.querySelectorAll('.pass').forEach(password=>{
            password.addEventListener("dblclick",()=>{
                let input = document.createElement("input")
                input.classList="inputs_modify"
                input.type="text";
                input.value=password.textContent;
                password.replaceWith(input);
                input.focus()
    
                input.addEventListener("keydown",(e)=>{
                    if(e.key==="Enter"){
                        let form = document.createElement('form')
                        form.method='post'
                        let id = password.dataset.id
                        form.action='edit_password/'+ id
                        let input_f= document.createElement("input")
                        input_f.name="password"
                        input_f.value=input.value
    
                        form.appendChild(input_f)
                        document.body.appendChild(form)
                        form.submit()
                    }
                })
            })
        })
    </script>
{%endblock%}