{% extends "base.html" %}
{% block body %}
<div class="container">
    <h1>Welcome</h1>
    <form id="mainForm"action="" method="post">
        <input 
        type="text"
        name="username"
        id="username"
        placeholder="FullName"
        class="inputs"
        >
        <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        class="inputs"
        >
        <input type="button" value="login" class="btn btn_login" onclick="setactionform('login')">
        <input type="button" value="register" class="btn btn_register" onclick="setactionform('register')">
    </form>
    {% if error %}
        <p  id="error">{{ error }} ! ! !</p>
    {% endif %}
    {% if succes %}
        <p id="succes">{{ succes }} ! ! !</p>
    {% endif %}
</div>
<script>
    function setactionform(action){
        let form=document.getElementById("mainForm")
        if (action=='login') {
            form.action="{{url_for('login')}}";
            form.method="post";
            form.submit();
        }else if(action=='register') {
            form.action="{{url_for('register')}}";
            form.method="post";
            form.submit();
    }
}
</script>
{% endblock %}